<head>
    <style>
      footer {
        padding: 1em;
        color: white;
        background-color: black;
        clear: left;
        text-align: left;
      }
    </style>
  </head>
<body>
<h1><font align="center" size="15" color="blue" face="Comic Sans MS">Profile</font></h1>
<hr/>
<div>
  <ul>
    <li><b>Nombre: </b>Nicolas</li>
    <li><b>edad: </b>20 años</li>
    <li><b>Localizacion: </b>Cochabamba, Bolivia</li>
    <li><b>Carrera: </b>Ingeniera de sistemas</li>
  </ul>
</div>
<p><b>Algo sobre mi: </b></p>
<p>Soy una persona normal que se encuentra en el 6to semestre de la carrera de ingeniera de sistemas <br>
hasta el momento disfrute mucho de este nuevo mundo y logre superar los retos que se me presentaron. <br>
Entre con muchas ganas de aprender y aun sigue ese entusiamos ayudandome a superar cada dia.</p>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer><a href="https://www.facebook.com/nicolas.poncedeleon.9">Facebook </a>Correo: nicolaspdle@gmail.com</footer>
</body>