<!-- PROFILE -->
<head>
  <style>
    body {
      background-color: #212121
    }
    .demo {
      margin: 0 auto;
      padding-top: 0px;
      max-width: 640px;
      color: #e0e0e0;
      width: 100%;
      padding-bottom: 250px;
      background-color: #424242;
    }
    .font {
    font-family: verdana;
    color: #b1bace;
    text-align: center;
    font-size: 50px;
    }
    p {
      font-family: verdana;
      font-size: 20px;
    }
  </style>
</head>
<body>
    <header class="font" >Profile</header>
    <hr/>
<div class = "demo">
<div>
  <ul>
    <li><b>Nombre: </b>Nicolas</li>
    <li><b>edad: </b>20 años</li>
    <li><b>Localizacion: </b>Cochabamba, Bolivia</li>
    <li><b>Carrera: </b>Ingeniera de sistemas</li>
  </ul>
</div>
<p><b>Algo sobre mi: </b></p>
<div class="col-md-6">Soy una persona normal que se encuentra en el 6to semestre de la carrera de ingeniera de sistemas
hasta el momento disfrute mucho de este nuevo mundo</div><div class="col-md-6"> y logre superar los retos que se me presentaron.
Entre con muchas ganas de aprender y aun sigue ese entusiamos ayudandome a mejorar cada dia.
</div>
</div>
</body>
<app-comp4></app-comp4>