<head>
    <style>
      footer {
        padding: 1em;
        color: white;
        background-color: black;
        clear: left;
        text-align: left;
      }
    </style>
  </head>
<body>
<h1><font align="center" size="15" color="blue" face="Comic Sans MS">Experiences</font></h1>
<hr/>
<div>
  <ul>Educacion Secundaria:
    <li><b>Colegio Aleman Federico Froebel</b></li>
    <li>2000-2014</li>
    <li>Cochabamba, Bolivia</li>
  </ul>
  <ul>Educacion Superior:
    <li><b>Universidad Catolica Boliviana</b></li>
    <li>2015-?</li>
    <li>Cochabamba, Bolivia</li>
  </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer><a href="https://www.facebook.com/nicolas.poncedeleon.9">Facebook </a>Correo: nicolaspdle@gmail.com</footer>
</body>