<!-- HOME -->
<head>
    <style>
        body {
          background-color: #212121
        }
       .font
        {
        background-color: #212121;
        font-family: verdana;
        color: white;
        text-align: center;
        font-size: 50px;
        }
      </style>

</head>
<body>
  <header class="font" >Nicolas Ponce De Leon Espinoza</header>
<div class="container-fluid bg-1 text-center">
  <img src="./assets/13434723_10207077322156054_4444466694122005917_n.jpg"  class="img-circle" alt="YO" width="430" height="430" >
</div>
<app-comp4></app-comp4>
</body>
