<head>
    <style>
      footer {
        padding: 1em;
        color: white;
        background-color: black;
        clear: left;
        text-align: left;
      }
    </style>
  </head>
<body>
<h1><font align="center" size="15" color="black" face="Comic Sans MS">Nicolas Ponce De Leon Espinoza</font></h1>
<hr/>
<div>
  <img src="13434723_10207077322156054_4444466694122005917_n.jpg">
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer><a href="https://www.facebook.com/nicolas.poncedeleon.9">Facebook </a>Correo: nicolaspdle@gmail.com</footer>
</body>
